html, body {
  height: 100%;
  margin: 0;
  color: red; }

#root {
  width: 100%;
  height: 100%; }

.game-root {
  width: 100%;
  height: 100%;
  background-color: #000; }

h1 {
  margin: 0 auto;
  text-align: center;
  color: #fff; }

.player-container {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 1248;
  display: flex;
  justify-content: center; }

.field {
  width: 1080px;
  height: 600px;
  border: 1px solid #888; }
  .field .unit {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #12BA34; }
  .field .mapObject {
    position: absolute;
    width: 3px;
    height: 3px; }
    .field .mapObject.food {
      background-color: #7273E8; }
    .field .mapObject.stone {
      background-color: #A3A3A4; }

.controlls {
  width: 256px;
  height: 600px;
  border: 1px solid #888;
  border-left: 0px; }
  .controlls a {
    color: #78C0A8;
    margin: 5px;
    cursor: pointer; }

.behaviour-display {
  margin: 0 auto;
  width: 1336px;
  word-wrap: break-word;
  color: #fff; }
  .behaviour-display span {
    margin: 0 5px; }
  .behaviour-display .unit-text {
    color: #12BA34; }
  .behaviour-display .food-text {
    color: #7273E8; }
  .behaviour-display .stone-text {
    color: #A3A3A4; }
  .behaviour-display .generation-text {
    color: red; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
